.wrapper {
  height: calc(100vh - 10vh);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: var(--size-4xl);
}

.title__text {
  color: #d6d3d3;
  letter-spacing: 6px;
  font-weight: 700;
  text-transform: uppercase;
}
