/* 2xl */
/* @media (max-width: 1536px) {} */

/* xl */
/* @media (max-width: 1280px) {} */

/* lg */
/* @media (max-width: 1024px) {} */

/* md */
/* @media (max-width: 768px) {} */

/* sm */
/* @media (max-width: 640px) {} */

/* xs */
/* @media (max-width: 475px) {} */

.container {
  width: 100%;
  max-width: 1536px;
  margin-inline: auto;
  padding-inline: 0.5rem;
}

.btn {
  background-color: var(--clr-slatedark);
  color: #e6e6e6;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  transition: all 0.3s;
}

.btn:active {
  background-color: oklch(24.657% 0.01322 285.368);
  transform: translateY(-2px);
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}
